body{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color:  hsl(0, 0%, 12%);
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 5%;
    padding : 10px;
    text-align: center;
}
@media  (max-width: 375px){
    .container{
        width: 100px;
    }
    
}


img{
    width: 100px;
    border-radius: 50%;
    

}
h2{
    color: hsl(0, 0%, 100%);
    font-family: inter;
    font-weight: 900;
    margin: 0;
    padding: 0;
    
    
}

    .loc{
    color: hsl(75, 94%, 57%);
    margin: 0;
    padding-bottom: 25px;
    font-weight: 600;
    font-family: inter;
}
p{
    color: hsl(0, 1%, 62%);
    font-family: inter;
    font-size: 16px;
    font-weight: 600;

}
.links{
    display: flex;
    flex-direction: column;

}

button{
    width: 350px;
    height: 40px;
    margin: 5px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-style:hidden;
    font-family: inter;
    font-weight: 500;
     
}
button:hover {
    background-color: hsla(323, 38%, 80%, 0.521);
    color: hsl(0, 0%, 10%);
    transform: scale(1.1);
    font-weight: 700;
}



