*{
    margin: 0%;
    padding: 0%;
}


body{
    background-color: hsl(0, 0%, 8%);

}


.container{
    background-color:  hsl(0, 0%, 12%);
    width: 400px;
    height: auto;
    margin: 100px auto;
    border-radius: 10px;
    padding : 10px;
    text-align: center;
}

img{
    width: 100px;
    border-radius: 50%;
    

}
h2{
    color: hsl(0, 0%, 100%);
    font-family: inter;
    font-weight: 900;
    margin: 0;
    padding: 0;
    
    
}

    .loc{
    color: hsl(75, 94%, 57%);
    margin: 0;
    padding-bottom: 25px;
    font-weight: 600;
    font-family: inter;
}
p{
    color: hsl(0, 1%, 62%);
    font-family: inter;
    font-size: 16px;
    font-weight: 600;

}
.links{
    display: flex;
    flex-direction: column;

}

button{
    width: 350px;
    height: 40px;
    margin: 5px;
    border-radius: 8px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-style:hidden;
    font-family: inter;
    font-weight: 700;
     
}
button:hover {
    background-color: hsla(323, 38%, 80%, 0.521);
    color: hsl(0, 0%, 10%);
    transform: scale(1.1);
    font-weight: 700;
}
@media  (max-width: 375px){
    .container{
        width: 280px;
    
    }
    button{
        width: 90%;
    }
}



